.container {
    display: grid;
    grid-template-rows: masonry;
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
}
#masonrys {
    display:flex;
    flex-direction: column;
}

img {
    width: 100%;
    min-height: 100px;
    display: block;
    border-radius: 0 0 1rem 1rem;
}

figcaption {
    padding: 0.5rem 1rem 0.4rem;
    background: #222;
    color: #fff;
    border-radius: 1rem 1rem 0 0;
    text-align: end;
}

body {
    background-color: black;
}